/* Media Queries */
@media (max-width: 768px) {
    .logo-part1,
    .logo-part2 {
      font-size: 20px;
    }
  
    .right-section {
      display: none;
    }
  
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
    .hamburger-menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 30px;
    }
  
    .hamburger-menu .menu-icon,
    .hamburger-menu .menu-icon::before,
    .hamburger-menu .menu-icon::after {
      width: 30px;
      height: 2px;
      background-color: azure;
    }
  
    .hamburger-menu .menu-icon::before,
    .hamburger-menu .menu-icon::after {
      content: '';
      position: absolute;
      transition: transform 0.3s ease-in-out;
    }
  
    .hamburger-menu .menu-icon::before {
      top: -6px;
    }
  
    .hamburger-menu .menu-icon::after {
      bottom: -6px;
    }
  
    .hamburger-menu.open .menu-icon::before {
      transform: rotate(45deg);
      top: 0;
    }
  
    .hamburger-menu.open .menu-icon::after {
      transform: rotate(-45deg);
      bottom: 0;
    }
  
    .hamburger-menu.open .menu-icon::before,
    .hamburger-menu.open .menu-icon::after {
      background-color: azure;
    }
  
    .hamburger-menu.open .menu-icon {
      background-color: transparent;
    }
  
    .hamburger-menu.open .menu-icon::before,
    .hamburger-menu.open .menu-icon::after {
      transition: transform 0.3s ease-in-out;
    }
  
    .hamburger-menu.open .menu-icon::before,
    .hamburger-menu.open .menu-icon::after,
    .hamburger-menu.open .menu-icon {
      background-color: azure;
    }
  
    nav ul {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
    .hamburger-menu.open ~ nav ul {
      display: flex;
    }
  }
  
  .logo-search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .logo h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 5px;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    border: none;
    padding: 5px;
  }
  
  .search-bar .fa-search {
    margin-right: 10px;
  }
  